[Unit]
Description=mining_pools_monitor
After=network-online.target
Wants=network-online.target

[Service]
User=braulio
WorkingDirectory=/home/braulio/Projects/mining-pool-monitor
ExecStart=/home/braulio/.rvm/wrappers/ruby-2.5.3/ruby bin/bot
Environment="TOKEN=X"
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
